.image{
    position: absolute;
    top:-3.5rem
}

.content-width{
    width: 47rem;
}

.btn-sumit{
    border: 1px solid #1A1A1A;
}

html,body{
    overflow-x: hidden;
}





@media (max-width:1200px) {
    .content-width{
        width: 100%
    }
}

@media (max-width:1300px) {
    .image{
       top:-2.9rem
    }
}

.tracking-in-contract-bck {
  animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}